.App {
  display: grid;
  background-image: url('https://wallpaperplay.com/walls/full/f/8/8/89139.jpg');
  height: 100vh;
  grid-template-rows: 1fr 11fr;
  grid-template-areas: 'nav'
                        'main'
}

/* HEADER CSS */
.header {
  grid-area: nav;
  background-color: #4c65f5;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 3px 3px 20px 0px #0000006e;
  border-bottom: 1px solid #0000003d;
}

.nav-button {
  margin-top: auto;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 5px;
  border: 0;
  border-top-right-radius: 5px;
  background-color: #61d7a8;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.nav-button:hover {
  cursor: pointer;
  background-color: #00ab94;
}

.logo {
  height: 70px;
}


.nav-left {
  display: inline;
}

.nav-right {
  display: inline;
}

.logo-text {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.home-img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 500px;
  width: 750px;
  border: 1px solid #4c65f5;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1000px;
  box-shadow: 3px 3px 20px 0px #0000006e;
}


/* Account Page */

.account {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  background-color: #ffffff8a;
  box-shadow: 3px 3px 20px 0px #0000006e;
}

.account-img {
  width: 20%;
  border-radius: 400px;
  margin-left: auto;
  margin-right: auto;
}

.notary-name {
  background-color: #4c65f5;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
}

.bio {
  width: 80%;
  margin: auto;
  border: 1px solid #4c65f5;
  background-color: aliceblue;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 34px;
  border-radius: 3px;
}

.chat-button {
  background-color: #61d7a8;
  font-size: 34px;
  font-weight: bold;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
}

.chat-button:hover {
  cursor: pointer;
  background-color: #00ab94;
}

.verified {
  height: 50px;
}
