@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: grid;
  background-image: url('https://wallpaperplay.com/walls/full/f/8/8/89139.jpg');
  height: 100vh;
  grid-template-rows: 1fr 11fr;
  grid-template-areas: 'nav'
                        'main'
}

/* HEADER CSS */
.header {
  grid-area: nav;
  background-color: #4c65f5;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 3px 3px 20px 0px #0000006e;
  border-bottom: 1px solid #0000003d;
}

.nav-button {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 5px;
  border: 0;
  border-top-right-radius: 5px;
  background-color: #61d7a8;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.nav-button:hover {
  cursor: pointer;
  background-color: #00ab94;
}

.logo {
  height: 70px;
}


.nav-left {
  display: inline;
}

.nav-right {
  margin-top: auto;
  display: inline;
}

.logo-text {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.home-img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 400px;
  width: 750px;
  border: 1px solid #4c65f5;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1000px;
  box-shadow: 3px 3px 20px 0px #0000006e;
}

.signup {
  display: flex;
  justify-content: center;
}

.signup>span {
  width: 200px;
  border: 1px solid #4c65f5;
  box-shadow: 3px 3px 20px 0px #0000006e;
  background-color: #ffffffb8;
  padding: 10px;
  margin: 10px;
  height: 70px;
  border-radius: 5px;
  font-weight: bold;
}

.signup>span>button {
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #61d7a8;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.signup>span>button:hover {
    cursor: pointer;
    background-color: #00ab94;
}
/* Account Page */

.account {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #ffffffc2;
  box-shadow: 3px 3px 20px 0px #0000006e;
  border-radius: 3px;
}

.account-img {
  width: 26%;
  border-radius: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  margin-top: 15px;
  position: relative;
  left: 30px;
}

.notary-name {
  background-color: #4c65f5;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 1px solid;
  color: white;
}

.bio {
  width: 80%;
  margin: auto;
  border: 1px solid #4c65f5;
  background-color: aliceblue;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 34px;
  border-radius: 3px;
  text-align: left;
  padding: 10px;
}

.chat-button {
  background-color: #61d7a8;
  font-size: 34px;
  font-weight: bold;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
}

.chat-button:hover {
  cursor: pointer;
  background-color: #00ab94;
}

.verified {
  height: 50px;
}

.verfied-text {
  font-weight: bold;
  color: white;
  background-color: #61d7a88a;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #37e29e;
  width: 10%;
  margin: auto;
}

/* Chat */

.chat {
  text-align: left;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: #f5f4f5;
  height: 400px;
  width: 300px;
  box-shadow: 3px 3px 20px 0px #0000006e;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #0000003d;
  overflow-y: auto;
}

.chat>p:nth-child(even) {
  background-color: #4c65f5;
  color: white;
}

.chat>p {
    border-radius: 20px;
    border: 1px solid #4c65f5;
    padding: 5px;
    font-size: 18px;
}

.chat-input {
  position: fixed;
  bottom: 7px;
}

.chat-input>input {
  width: 295px;
  height: 35px;
}

.x {
  position: fixed;
  right: 11px;
  border-radius: 30px;
}

.x:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

/* Find */

.find {
  overflow-y: scroll;
}
